$main-one: #E19A62; // 色调1
$main-two: #2242CC; // 色调2
$main-three: #FF2941; // 色调3
$main-four: #E19A62; // 色调4
$main-five: #D97DB0; // 色调5
$main-six: #FFC000; // 色调6
$assist-1: #FFCF10; // 副色调1
$assist-syzx: #44D939; // 首页活跃状态色
$deep: #333333; // 文字深
$middle: #aaaaaa; // 文字浅
$shallow: #CCCCCC; // 副文字
$bg: #FAFAFA; // 背景主色
$divider: #EEEEEE; // 分割线

// 
$bbbbbb: #BBBBBB;

// 新版
$itsme-1: #1A1A1F; // 色调1
$itsme-2:#D97DB0; // 色调2
$itsme-3: #1D1D24; // 色调3
$itsme-4: #23232D; // 色调4
$itsme-5: #EF344A; // 色调5
$itsme-6: #EBEBEF; // 色调6
$itsme-7: #AEACAC; // 色调7
$itsme-8: #37375A; // 色调8
$itsme-9: #9E9E9F; // 色调9
$itsme-10: #898585; // 色调10
$itsme-11: #242435; // 色调11
$itsme-12: #23232D; // 色调12
$itsme-13: #39394F; // 色调13
$itsme-14: #969698; // 色调14
$itsme-15: #686869; // 色调15
$itsme-16: #535354; // 色调16
$itsme-17: #ffffff; // 色调17
$itsme-18: #39394F; // 色调18


page {
  background: #fff;
  color: $deep;
}